<div class="row">
  <div class="col-lg-6">
    <%= form_for @lvlup do |f| %>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, row: 3, cols: 50, class: 'form-control' %>
      </div>
      <%= f.hidden_field :characteristic_id, value: @characteristic_id %>
      <%= f.submit 'Submit', class: 'btn btn-default' %>
    <% end %>
  </div>
</div>